body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: black;
}
.header-image {
    width: 100%;
    max-width: 600px; /* Adjust the max width as needed */
    height: 20%;
}
.container {
    position: relative;
    width: 100%;
    height: 40%;
    background-image: url('heart-hands.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.smiley {
    width: 15%; /* Adjust width to fit inside the heart shape */
    height: 30%; /* Adjust height to fit inside the heart shape */
    max-width: 150px;
    max-height: 150px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%); /* Adjust this value to raise or lower the smiley face */
}
.smiley::before, .smiley::after {
    content: '';
    width: 15%;
    height: 15%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 25%;
}
.smiley::before {
    left: 25%;
}
.smiley::after {
    right: 25%;
}
.smiley .mouth {
    width: 90%;
    height: 25%;
    border: 5px solid black;
    border-color: black transparent transparent transparent;
    border-radius: 50% 50% 0 0;
    position: absolute;
    bottom: 15%;
}
.bodytext {
    color: #ffffff;
    font-family: 'Creepster', cursive; /* Apply the custom oozing font */
    font-size: 32px;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.twitter-container {
    height: 50%;
}


@media only screen and (orientation: landscape) {
    .container {
        width: 80vw; /* Adjust width for landscape mode */
        height: 80vh; /* Adjust height for landscape mode */
    }
    .smiley {
        width: 10vw; /* Adjust width for landscape mode */
        height: 10vh; /* Adjust height for landscape mode */
        max-width: none; /* Remove max-width for landscape mode */
        max-height: none; /* Remove max-height for landscape mode */
    }
}