:root {
    --parent-min-width: 100px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: black;
}
.header-image {
    width: auto;
    max-width: 25%;
    height: auto;
}
.container {
    box-sizing: border-box;
    position: relative;
    width: 80vw;
    height: 80vh;
    max-width: 65vh;
    max-height: 65vh;
    min-width: var(--parent-min-width);
    min-height: var(--parent-min-width);
    background-image: url('heart-hands.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
}
.smiley {
    width: auto;
    height: auto;
    min-width: calc(80vw/10);
    min-height: calc(80vh/10);
    max-width: 50vh;
    max-height: 50vh;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}
.smiley::before, .smiley::after {
    content: '';
    width: 15%;
    height: 15%;
    max-width: 50vh;
    max-height: 50vh;
    min-width: calc(var(--parent-min-width)/10);
    min-height: calc(var(--parent-min-width)/10);
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 25%;
}
.smiley::before {
    left: 25%;
}
.smiley::after {
    right: 25%;
}
.smiley .mouth {
    width: 90%;
    height: 25%;
    min-width: calc(var(--parent-min-width)/10);
    min-height: calc(var(--parent-min-width)/10);
    max-width: 50vh;
    max-height: 50vh;
    border: 5px solid black;
    border-color: black transparent transparent transparent;
    border-radius: 50% 50% 0 0;
    position: absolute;
    bottom: 15%;
}
.bodytext {
    color: #ffffff;
    font-family: 'Creepster', cursive; /* Apply the custom oozing font */
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}
.twitter-timeline {
    height: 40%;
}


@media only screen and (orientation: landscape) {
    .container {
        width: 80vw; /* Adjust width for landscape mode */
        height: 80vh; /* Adjust height for landscape mode */
    }
    .smiley {
        width: 10vw; /* Adjust width for landscape mode */
        height: 10vh; /* Adjust height for landscape mode */
        max-width: none; /* Remove max-width for landscape mode */
        max-height: none; /* Remove max-height for landscape mode */
    }
}